[branch]
	sort = v:refname

[checkout]
	workers = 0

[color]
	ui=auto

[color "diff"]
	old = red bold
	new = green bold

[color "grep"]
	match = bold green
	filename = magenta
	separator = cyan

[color "status"]
	added = green bold
	branch = cyan bold
	changed = red bold
	nobranch = red bold
	unmerged = red bold
	untracked = red bold

[column]
	status = auto dense
	tag = auto dense

[commit]
	verbose = true

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[diff]
	tool=vimdiff

[fetch]
	parallel=0

[format]
	thread=true

[imap]
	folder="Drafts"
	tunnel="cloud-imap"

[init]
	defaultBranch="main"

[log]
	decorate=short
	mailmap=true

[merge]
	conflictStyle=diff3
	tool=vimdiff

[pager]
	branch=false
	tag=false

[pull]
	ff = only

[push]
	default=current
	followTags=true
	recurseSubmodules=check

[rebase]
	autoSquash=true

[status]
	showStash=true

[submodule]
	recurse = true

[tag]
	sort = v:refname

[url "ssh://joshtriplett.org/"]
	pushInsteadOf = "https://joshtriplett.org/"

[url "https://github.com/"]
	pushInsteadOf = "git@github.com:"
	pushInsteadOf = "ssh://git@github.com/"
	pushInsteadOf = "git://github.com/"
