[color]
	ui=auto

[color "grep"]
	match = bold green

[imap]
	folder="Drafts"
	tunnel="cloud-imap"

[push]
	default=matching

[url "ssh://joshtriplett.org/"]
	pushInsteadOf = "git://joshtriplett.org/"
