# Non-dotfiles, which I currently don't track in git
/Downloads/
/archive/
/doc/
/media/
/src/
/tmp/

# Transient
.*.swp
/.DCOPserver*
/.ICEauthority
/.Trash
/.Xauthority
/.aptitude/cache
/.ash_history
/.bash_history
/.cabal/bin
/.cabal/lib
/.cabal/share
/.cabal/world
/.cache
/.camel_certs
/.cargo/git
/.cargo/registry
/.ccache
/.config/metacity/sessions
/.config/phoenix/gtk.cfg
/.config/pulse
/.darcs/cache
/.dbus/session-bus
/.distcc/lock
/.distcc/state
/.dmrc
/.dovecot.sievec
/.dovecot.svbin
/.dvdcss
/.emacs.d
/.esd_auth
/.evolution-composer.autosave-*
/.gconfd/saved_state
/.gnuplot_history
/.gstreamer-0.10/registry.*
/.gtkrc-1.2-gnome2
/.ketchup
/.lesshst
/.*.lock
/.local/share/nvim/swap/*.swp
/.mcop
/.mcoprc
/.mutt_certificates
/.mythtv
/.nautilus/metafiles
/.nautilus/saved-session-*
/.psql_history
/.pulse
/.pulse-cookie
/.recently-used
/.recently-used.xbel
/.rustup/toolchains/
/.rustup/update-hashes/
/.speech-dispatcher
/.thumbnails
/.viminfo
/.xsession-errors
/.xsession-errors.old

# Private
/.cargo/config
/.cargo/credentials
/.cvspass
/.getmail
/.gnome2_private
/.listadmin.ini
/.local/share/folks/relationships.ini
/.local/share/keyrings/
/.pam-*
/.private
/.ssh/id_ed25519
/.ssh/id_rsa
/.ssh/non-agent/

# Versioning the configuration files in .gnupg seems reasonable, but they have
# some key-specific information.
/.gnupg

# Hard to version
/.ssh/known_hosts

# Machine-specific
/.dovecot.sieve
/.drirc
/.forward
/.ghc
/.gphoto
/.hplip.conf
/.hplip/hplip.conf
/.ivtv*
/.local/share/icc
/.lpoptions
/.maildir
/.minirc.dfl
/.ssh/authorized_keys
/.ssh/*.pub

# I don't keep any configuration in .subversion
/.subversion

# Some transient, some configuration files, but configuration files get written
# out every time, and not just the changed values.  Some also contain
# machine-specific configuration, and private data.
/.config/Mumble/Mumble.conf
/.config/Trolltech.conf
/.config/brasero/brasero.session
/.config/chromium
/.config/dconf/user
/.config/dconf/user.txt-lock
/.config/enchant/*.dic
/.config/enchant/*.exc
/.config/evince/accels
/.config/evince/print-settings
/.config/evolution/sources/system-proxy.source
/.config/gedit/accels
/.config/git/gitk
/.config/gobby
/.config/gnome-games/
/.config/gnome-hearts/gnome-hearts.cfg
/.config/gtk-2.0/gtkfilechooser.ini
/.config/higan
/.config/hiro/gtk.bml
/.config/inkscape
/.config/libimobiledevice
/.config/libreoffice
/.config/menus/gnome-applications.menu
/.config/menus/gnome-settings.menu
/.config/mimeapps.list
/.config/monitors.xml
/.config/mupen64plus
/.config/totem
/.config/transmission
/.dosbox/*.conf
/.evolution
/.gconf
/.gimp*
/.gitk
/.gnome
/.gnome2
/.gnuplot-wxt
/.kde
/.libreoffice
/.local/share/data/Mumble/Mumble/.mumble.sqlite
/.local/share/evolution
/.local/share/gnome-shell/application_state
/.local/share/gnome-shell/extensions
/.local/share/gsettings-data-convert
/.local/share/telepathy
/.local/share/tracker
/.mission-control/accounts/accounts.cfg
/.mozilla/firefox/2fr6gqfu.default/*
!/.mozilla/firefox/2fr6gqfu.default/adblockplus/
/.mozilla/firefox/2fr6gqfu.default/adblockplus/cache.js
/.mozilla/firefox/2fr6gqfu.default/adblockplus/elemhide.css
!/.mozilla/firefox/2fr6gqfu.default/adblockplus/patterns.ini
/.mozilla-thunderbird
/.mythtv/config.xml
/.mythtv/mysql.txt
/.ncftp
/.openoffice.org*
/.pki
/.purple
/.qt/*.lock
/.qt/qt_plugins_*rc
/.quodlibet
/.rustup/settings.toml
/.sane
/.stellarium
/.vlc
/.wireshark/recent
/.xdvirc
/.xine

# For now, ignore all the game directories.  Many use binary files, many use
# unintelligible text formats, many mix high scores in with the preferences,
# and many write their entire configuration out each time even if unmodified.
/.alex4
/.angband
/.angryddrc
/.ardentryst
/.armagetronad
/.atanks
/.bloboats
/.bomberclone.cfg
/.bumprace
/.bzf
/.chromium
/.chromium-bsu
/.chromium-bsu-score
/.chromium-score
/.circuslinuxrc
/.config/pioneers
/.config/pioneers-server
/.config/pyscrabble
/.config/tlk-games
/.config/wesnoth
/.crawl
/.critter
/.defendguinrc
/.endgame
/.enigma*
/.fbhighlevelshistory
/.fbhighscores
/.fbrc
/.fillets-ng
/.foobillardrc
/.freedroidClassic
/.freedroid_rpg
/.fretsonfire
/.funnyboat
/.gPlanarity
/.garden
/.gccg
/.gnubg/gnubgautorc
/.gnubg/gnubgmenurc
/.gnubg/history
/.gnujump
/.gnurobborc
/.golly
/.gtetrinet
/.gunroar
/.gvba
/.gweled
/.hedgewars
/.heroes
/.hex-a-hop
/.holotz-castle
/.icebreaker
/.kiki.hsc
/.kobodlrc
/.komirc
/.koules-levels
/.kq
/.kraptor.cfg
/.laterc
/.lgames
/.lightyears.cfg
/.lincity
/.lincityrc
/.liquidwarrc
/.local/share/mupen64plus
/.local/share/wesnoth
/.madbomber
/.magicor
/.mednafen
/.mirrormagic
/.moagg
/.mu-cade
/.nethackrc
/.neverball
/.omegarc
/.overgod.cfg
/.pangzerorc
/.parallelrealities
/.pathological_scores
/.penguin-command
/.pengupoprc
/.pingus
/.ppracer
/.pydance
/.rr.prf
/.scummvm
/.scummvmrc
/.sdljump.cfg
/.sdljump.hsc
/.sdljump
/.snowballz.ini
/.solarwolf
/.starvoyager
/.supertransball2
/.supertux2
/.supertuxkart
/.titanion
/.tomatoes
/.tong-config
/.torus-trooper
/.toppler
/.trackballs
/.tumiki-fighters.prf
/.tuxtype
/.tworld
/.val-and-rick
/.vba
/.vodovod
/.warzone2100
/.widelands
/.wwisup
/.xarchon
/.xmoto
/.xscorch
/.zaz
