# Non-dotfiles, which I currently don't track in git
/Downloads/
/archive/
/doc/
/media/
/src/
/tmp/

# Transient
.*.swp
/.DCOPserver*
/.ICEauthority
/.Trash
/.Xauthority
/.aptitude/cache
/.ash_history
/.bash_history
/.cabal/bin
/.cabal/lib
/.cabal/share
/.cabal/world
/.cache
/.camel_certs
/.cargo/.crates.toml
/.cargo/.crates2.json
/.cargo/.package-cache
/.cargo/git
/.cargo/registry
/.ccache
/.config/metacity/sessions
/.config/phoenix/gtk.cfg
/.config/pulse
/.darcs/cache
/.dbus/session-bus
/.distcc/lock
/.distcc/state
/.dmrc
/.dvdcss
/.emacs.d
/.evolution-composer.autosave-*
/.gnuplot_history
/.gstreamer-0.10/registry.*
/.ketchup
/.lesshst
/.*.lock
/.local/share/nvim/swap/*.swp
/.mcop
/.mcoprc
/.mutt_certificates
/.mythtv
/.nautilus/metafiles
/.nautilus/saved-session-*
/.psql_history
/.pulse
/.pulse-cookie
/.recently-used
/.recently-used.xbel
/.rustup/toolchains/
/.rustup/update-hashes/
/.speech-dispatcher
/.thumbnails
/.viminfo
/.xsession-errors
/.xsession-errors.old

# Private
/.aws/credentials
/.cargo/config
/.cargo/credentials
/.cert/
/.config/asciinema/install-id
/.cvspass
/.getmail
/.listadmin.ini
/.local/share/folks/relationships.ini
/.local/share/keyrings/
/.private
/.ssh/id_ed25519
/.ssh/id_rsa
/.ssh/non-agent/

# Versioning the configuration files in .gnupg seems reasonable, but they have
# some key-specific information.
/.gnupg

# Hard to version
/.config/freerdp/known_hosts2
/.ssh/known_hosts

# Machine-specific
/.cargo/bin
/.cargo/env
/.drirc
/.forward
/.ghc
/.gphoto
/.hplip.conf
/.hplip/hplip.conf
/.local/share/icc
/.lpoptions
/.maildir
/.minirc.dfl
/.ssh/authorized_keys
/.ssh/*.pub
/.sudo_as_admin_successful

# I don't keep any configuration in .subversion
/.subversion

# Some transient, some configuration files, but configuration files get written
# out every time, and not just the changed values.  Some also contain
# machine-specific configuration, and private data.
/.boto
/.config/Trolltech.conf
/.config/brasero/brasero.session
/.config/chromium
/.config/dconf/user
/.config/dconf/user.txt-lock
/.config/enchant/*.dic
/.config/enchant/*.exc
/.config/evince/accels
/.config/evince/print-settings
/.config/evolution/sources/system-proxy.source
/.config/gedit/accels
/.config/git/gitk
/.config/gobby
/.config/gnome-games/
/.config/gnome-hearts/gnome-hearts.cfg
/.config/gtk-2.0/gtkfilechooser.ini
/.config/higan
/.config/hiro/gtk.bml
/.config/inkscape
/.config/libimobiledevice
/.config/libreoffice
/.config/menus/gnome-applications.menu
/.config/menus/gnome-settings.menu
/.config/mimeapps.list
/.config/monitors.xml
/.config/mupen64plus
/.config/totem
/.config/transmission
/.dosbox/*.conf
/.evolution
/.gimp*
/.gnuplot-wxt
/.libreoffice
/.local/share/data/Mumble/Mumble/.mumble.sqlite
/.local/share/evolution
/.local/share/gnome-shell/application_state
/.local/share/gnome-shell/extensions
/.local/share/gsettings-data-convert
/.local/share/telepathy
/.local/share/tracker
/.mission-control/accounts/accounts.cfg
/.mozilla
/.mythtv/config.xml
/.mythtv/mysql.txt
/.pki
/.purple
/.qt/*.lock
/.qt/qt_plugins_*rc
/.quodlibet
/.rustup/settings.toml
/.sane
/.stellarium
/.vlc
/.wireshark/recent
