# Non-dotfiles, which I currently don't track in git
/Downloads/
/archive/
/doc/
/media/
/src/
/tmp/

# Transient
.*.swp
/.ICEauthority
/.aptitude/cache
/.bash_history
/.cache
/.cargo/.crates.toml
/.cargo/.crates2.json
/.cargo/.package-cache
/.cargo/.package-cache-mutate
/.cargo/git
/.cargo/registry
/.ccache
/.dbus/session-bus
/.distcc/lock
/.distcc/state
/.dmrc
/.emacs.d
/.evolution-composer.autosave-*
/.gnuplot_history
/.gstreamer-0.10/registry.*
/.lesshst
/.*.lock
/.local/.crates.toml
/.local/.crates2.json
/.local/share/nvim/swap/*.swp
/.local/state/wireplumber
/.mutt_certificates
/.psql_history
/.rustup/toolchains/
/.rustup/update-hashes/
/.speech-dispatcher

# Private
/.aws/cli/cache/
/.aws/credentials
/.cargo/credentials.toml
/.cert/
/.config/asciinema/install-id
/.local/share/folks/relationships.ini
/.local/share/keyrings/
/.private
/.ssh/id_ed25519
/.ssh/id_rsa
/.ssh/non-agent/

# Versioning the configuration files in .gnupg seems reasonable, but they have
# some key-specific information.
/.gnupg

# Hard to version
/.config/freerdp/known_hosts2
/.config/termux/termux.properties
/.ssh/known_hosts

# Machine-specific
/.aws/config
/.cargo/bin
/.cargo/env
/.drirc
/.forward
/.local/share/icc
/.maildir
/.ssh/authorized_keys
/.ssh/*.pub
/.sudo_as_admin_successful

# Some transient, some configuration files, but configuration files get written
# out every time, and not just the changed values.  Some also contain
# machine-specific configuration, and private data.
/.boto
/.config/chromium
/.config/dconf/user
/.config/dconf/user.txt-lock
/.config/enchant/*.dic
/.config/enchant/*.exc
/.config/evince/accels
/.config/evince/print-settings
/.config/evolution/sources/system-proxy.source
/.config/gedit/accels
/.config/git/gitk
/.config/gnome-games/
/.config/gnome-hearts/gnome-hearts.cfg
/.config/gtk-2.0/gtkfilechooser.ini
/.config/higan
/.config/hiro/gtk.bml
/.config/inkscape
/.config/libreoffice
/.config/mimeapps.list
/.config/monitors.xml
/.config/mupen64plus
/.config/totem
/.config/transmission
/.dosbox/*.conf
/.libreoffice
/.local/share/evolution
/.local/share/gnome-shell/application_state
/.local/share/gnome-shell/extensions
/.local/share/gsettings-data-convert
/.local/share/telepathy
/.local/share/tracker
/.mission-control/accounts/accounts.cfg
/.mozilla
/.mythtv/config.xml
/.mythtv/mysql.txt
/.pki
/.purple
/.qt/*.lock
/.qt/qt_plugins_*rc
/.quodlibet
/.rustup/settings.toml
/.sane
/.stellarium
/.vlc
/.wireshark/recent
