[color]
	ui=auto

[color "grep"]
	match = bold green
	filename = magenta
	separator = cyan

[diff]
	tool=vimdiff

[imap]
	folder="Drafts"
	tunnel="cloud-imap"

[log]
	decorate=short

[merge]
	tool=vimdiff

[push]
	default=current

[url "ssh://joshtriplett.org/"]
	pushInsteadOf = "https://joshtriplett.org/"

[url "ssh://git@github.com/"]
	pushInsteadOf = "https://github.com/"
	pushInsteadOf = "git://github.com/"

[include]
	path = ~/.private/gitconfig
