Emacs.font: neep-alt-14
Emacs.geometry: 80x62+0+0
Emacs.fullscreen: fullheight
Emacs.pane.menubar.font: lucidasans-10
Emacs.pane.menubar.shadowThickness: 1
Emacs.toolBar: 0

xpdf.initialZoom: width

xdvi.paper: us

*vt100.Foreground: #B2B2B2
*vt100.Background: #000000
*vt100.Color0: #000000
*vt100.Color1: #B21818
*vt100.Color2: #18B218
*vt100.Color3: #B26818
*vt100.Color4: #1818B2
*vt100.Color5: #B218B2
*vt100.Color6: #18B2B2
*vt100.Color7: #B2B2B2
*vt100.Color8: #686868
*vt100.Color9: #FF5454
*vt100.Color10: #54FF54
*vt100.Color11: #FFFF54
*vt100.Color12: #5454FF
*vt100.Color13: #FF54FF
*vt100.Color14: #54FFFF
*vt100.Color15: #FFFFFF
XTerm*faceName: Monospace-10
UXTerm*faceName: Monospace-10

URxvt.font: neep-alt-14
URxvt.boldFont: neep-alt-bold-14
URxvt.foreground: #B2B2B2
URxvt.background: #000000
URxvt.color0: #000000
URxvt.color1: #B21818
URxvt.color2: #18B218
URxvt.color3: #B26818
URxvt.color4: #1818B2
URxvt.color5: #B218B2
URxvt.color6: #18B2B2
URxvt.color7: #B2B2B2
URxvt.color8: #686868
URxvt.color9: #FF5454
URxvt.color10: #54FF54
URxvt.color11: #FFFF54
URxvt.color12: #5454FF
URxvt.color13: #FF54FF
URxvt.color14: #54FFFF
URxvt.color15: #FFFFFF
URxvt.termName: rxvt
URxvt.scrollBar: False
